<ion-view>
<style>
	
</style>
    <ion-content >
        <div class="padding" >
            <div class="Headdingpad text-center " style="padding-bottom: 20px;">
				<h3 class="flying checkfly assertive" style="color:#5d3002"><b>Available Balance</b></h3>
            </div>
			<div class="card">
					<div class="item item-text-wrap">
						<h2 style="color:#c64a02"><b>Bicycle FSA</b></h2>
						<p style="color:#61809e"><b>Annual Election :<span style="color:#555">$240.00</b></span></p>
						<p style="color:#61809e"><b>Available Balance :<span style="color:#555">$0.00</b></span></p>
					</div>
				</div>
				
				<div class="card">
					<div class="item item-text-wrap">
						<h2 style="color:#c64a02"><b>Transit FSA</b></h2>
						<p style="color:#61809e"><b>Annual Election :<span style="color:#555">$600.00</b></span></p>
						<p style="color:#61809e"><b>Available Balance :<span style="color:#555">$0.00</b></span></p>
					</div>
				</div>
        </div>
    </ion-content>
</ion-view>