<ion-view>
<style>
.lg{
font-size:100px;
}
</style>
    <ion-content>
        <div class="padding" >
            <div class="Headdingpad text-center " style="padding-bottom: 20px;">
				<h3 class="flying checkfly assertive" style="color:#5d3002"><b>Contact Us</b></h3>
            </div>
        </div>
		
		<div class="list card">
		  <a href="#" style="height: 50px;" class="item item-icon-left">
			<i class="icon ion-email"></i>
			<span class="assertive"> Email Us </span> <br> customer.service@sterlingadmiistation.com
		  </a>
</div>
<div class="list card">
  <a href="#" style="height: 34px;" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
	<span class="assertive">Call Us </span>  1 800 617 4729
  </a>

  

</div>
		
    </ion-content>
</ion-view>