<ion-view>
    <ion-content >
        
        <div class="text-center">
			<div class="row" >
                <div  class='col'> 
					<span style="font-size: 20px;color:#5d3002" class="text-center assertive">
					<b>Flexible Spending Account</b>
					</span>
				</div>
            </div>
			
			<div class="row text-center">
				<div class="col">
					<a href="#FsaAccountInformation" style="text-decoration:none ;color:black">
						<div class="row">
							<div class="col "><img style="width:85px;height:85px" src="img/Accinfo.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col ">Account Information</div>
						</div>
						
					<a>
				</div>
				
				
			</div>
			<div class="row text-center">
				<div class="col">
					<a href="#AvailableBalance" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col "><img style="width:85px;height:85px"  src="img/balanceCheck.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col ">Available Balance</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row text-center">
				<div class="col">
					<a href="#FsaAccountActivity" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col "><img  style="width:85px;height:85px" src="img/recentAcc.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col " >Recent Account Activity</div>
						</div>
					<a>
				</div>
				
			</div>
			
        </div>
    </ion-content>
</ion-view>