<ion-view>
    <ion-content >
         <style>
            .header .col {
              background-color:lightgrey;
            }
            
            #searchByName .col {
              border: solid 1px grey;
              border-bottom-style: none;
              border-right-style: none;
            }
            
            #searchByName .col:last-child {
              border-right: solid 1px grey;
            }
            
           #searchByName .row1:last-child .col {
              border-bottom: solid 1px grey;
            }
        </style>
        <div class="">
            <div class="Headdingpad text-center">
                <h3 style="color:#5d3002"><b>Account Information</b></h3>
            </div>
        </div>
            <div class="list" id="result" style="padding: 10px;">
                <div class="card">
					<div class="item item-text-wrap">
						<p style="color:#61809e"><b>FAS Effective Date :<span style="color:#555">10/30/2015</b></span></p>
						<p style="color:#61809e"><b>Account Number :<span style="color:#555">FSA013098</b></span></p>
					</div>
				</div>
                <!-- <div class="">
					<div  class="" id="searchByName">
						<div class="row header">
							<div class="col">FAS Effective Date:</div>
							<div class="col"></div>
						</div>
						<div class="row row1">
							<div class="col">Account Number:</div>
							<div class="col"></div>
						</div>
					</div>
                </div> -->
			</div>
           
    </ion-content>
</ion-view>