<ion-view>
<style>
	
</style>
    <ion-content >
       <div class="padding" >
            <div class="Headdingpad text-center " style="padding-bottom: 20px;">
				<h3 class="flying checkfly assertive" style="color:#5d3002"><b>Recent Disbursement</b></h3>
            </div>
        
			<div style="padding-left:10px">04/28/2014</div>
			<div class="row list ">
				<div class="col col-80 padding" style="background-color:#e5e9f2">
					Adjesment - Office
				</div>
				<div class="col col-20 " style="background-color:#f3f2f2">
					$33.00
				</div>
			</div>
			<div style="padding-left:10px">04/21/2014</div>
			<div class="row list">

				<div class="col col-80 padding" style="background-color:#e5e9f2">
					Debit Card Purchase
				</div>
				<div class="col col-20 " style="background-color:#f3f2f2">
					$318.00
				</div>
			</div>
			<div style="padding-left:10px">03/03/2014</div>
			<div class="row list">
				<div class="col col-80 padding" style="background-color:#e5e9f2">
					Debit Card Purchase
				</div>
				<div class="col col-20 " style="background-color:#f3f2f2">
					$8.10
				</div>
			</div>
			<div style="padding-left:10px">02/22/2014</div>
			<div class="row list">
				<div class="col col-80 padding" style="background-color:#e5e9f2">
					Debit Card Purchase
				</div>
				<div class="col col-20 " style="background-color:#f3f2f2">
					$14.90
				</div>
			</div>
			<div style="padding-left:10px">02/12/2014</div>
			<div class="row list">
				<div class="col col-80 padding" style="background-color:#e5e9f2">
					Debit Card Purchase
				</div>
				<div class="col col-20 " style="background-color:#f3f2f2">
					$1,500.00
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>