<ion-view>
    <ion-content >
        
        <div class="text-center">
			<div class="row" >
                <div  class='col'> 
					<span style="font-size: 20px;color:#5d3001" class="text-center">
					<b>Health Savings Account</b>
					</span>
				</div>
            </div>
			
			<div class="row text-center">
				<div class="col">
					<a href="#AccountInformation" style="text-decoration:none ;color:black">
						<div class="row">
							<div class="col "><img style="width:85px;height:85px" src="img/Accinfo.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col " >
							Account Information
							</div>
						</div>
					<a>
				</div>
				<div class="col">
					<a href="#MakeContribution" style="text-decoration:none ;color:black">
						<div class="row">
							<div class="col "><img style="width:85px;height:85px" src="img/makecont.jpg" alt=""></div>
						</div>
						<div class="row">
							<div class="col " >
							Make Contribution
							</div>
						</div>
					<a>
				</div>
				
				
			</div>
			
			<div class="row text-center">
				<div class="col">
					<a href="#MakeDisbursement" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col "><img  style="width:85px;height:85px" src="img/distribution.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col " >Make Disbursement</div>
						</div>
					<a>
				</div>
				<div class="col">
					<a href="#AccountActivity" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col "><img  style="width:85px;height:85px" src="img/recentAcc.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col " >Recent Account Activity</div>
						</div>
					<a>
				</div>
				
			</div>
			<div class="row text-center">
				<div class="col">
					<a href="#StatementActivity" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col "><img style="width:85px;height:85px"  src="img/statemtn.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col ">Statments</div>
						</div>
					</a>
				</div>
			</div>
			
        </div>
    </ion-content>
</ion-view>