<ion-view>
<style>
	
</style>
    <ion-content >
        <div class="padding" >
            <div class="Headdingpad text-center " style="padding-bottom: 20px;">
				<h3 class="flying checkfly assertive" style="color:#5d3002"><b>Scheduled Contributions</b></h3>
				
            </div>
			<div style="padding-left:10px; color:#61809e">03/10/2016</div>
			<div class="row list ">
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>671664</center>
				</div>
				<div class="col col-30 " style="background-color:#f3f2f2">
					<center>$33.00</center>
				</div>
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>Pending</center>
				</div>
			</div>
			<div style="padding-left:10px; color:#61809e">03/10/2016</div>
			<div class="row list ">
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>671666</center>
				</div>
				<div class="col col-30 " style="background-color:#f3f2f2">
					<center>$100.00</center>
				</div>
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>Pending</center>
				</div>
			</div>
			<div style="padding-left:10px; color:#61809e">03/18/2016</div>
			<div class="row list ">
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>671702</center>
				</div>
				<div class="col col-30 " style="background-color:#f3f2f2">
					<center>$205.00</center>
				</div>
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>Pending</center>
				</div>
			</div>
			<div style="padding-left:10px; color:#61809e">03/18/2016</div>
			<div class="row list ">
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>671703</center>
				</div>
				<div class="col col-30 " style="background-color:#f3f2f2">
					<center>$33.00</center>
				</div>
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>Pending</center>
				</div>
			</div>
			<div style="padding-left:10px; color:#61809e">03/18/2016</div>
			<div class="row list ">
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>671701</center>
				</div>
				<div class="col col-30 " style="background-color:#f3f2f2">
					<center>$135.00</center>
				</div>
				<div class="col col-35 padding" style="background-color:#e5e9f2">
					<center>Pending</center>
				</div>
			</div>
        </div>
    </ion-content>
</ion-view>