<ion-view>
    <ion-content >
        
        <div class="text-center">
			<div class="row" >
                <div  class='col'> 
					<span style="font-size: 20px;color:#5d3002" class="text-center assertive">
					<b>Health Savings Activity</b>
					</span>
				</div>
            </div>
			
			<div class="row text-center">
				<div class="col">
					<a href="#ActivityStatement" style="text-decoration:none ;color:black">
						<div class="row">
							<div class="col "><img style="width:85px;height:85px" src="img/activity.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col">Activity Statements</div>
						</div>
						
					<a>
				</div>
				
				
			</div>
			<div class="row text-center">
				<div class="col">
					<a href="#TaxStatement" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col"><img style="width:85px;height:85px"  src="img/tax.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col">Tax Statements</div>
						</div>
					</a>
				</div>
			</div>
			<!-- <div class="row text-center">
				<div class="col">
					<a href="#knowBlo" style="text-decoration:none;color:black">
						<div class="row">
							<div class="col "><img  style="width:85px;height:85px" src="img/contact.png" alt=""></div>
						</div>
						<div class="row">
							<div class="col " >Contact Us</div>
						</div>
					<a>
				</div>
			</div> -->
			
        </div>
    </ion-content>
</ion-view>